* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f0f0f0;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
}

section {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 40px;
}

#brand {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

#logo {
  height: 80px;
  margin-right: 16px;
}

form {
  opacity: 0;
  padding: 20px 16px;
  background: #f8f8f8;
  box-shadow: 0px 1px 8px 2.5px lightgrey;
  margin-bottom: 0px;
  border-radius: 4px;
  animation: onloadFade 0.6s forwards;
}

input {
  font-size: 18px;
  margin: 12px 0;
  display: block;
  outline: none;
}

input[type=submit] {
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  background: #333;
  color: #fff;
  margin-top: 16px;
  font-weight: bold;
  transition: all 0.2s ease;
  width: 100%;
}

input[type=submit]:hover {
  background: black;
  color: white;
}

#view {
  margin-bottom: 100px;
}


@keyframes onloadFade {
  from {
    opacity: 0;
    margin: 0px;
  }
  to {
    opacity: 1;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    max-height: 90vh;
  }
  /*#logo {
    height: 48px;
  }*/
  form {
    opacity: 1;
    animation: none;
    margin-bottom: 100px;
  }
  input {
    font-size: 0.7rem;
  }
  input[type=submit] {
    background: #e6004c;
    color: white;
  }
}
